{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Admin Dashboard</h1>
        <p>Welcome to the Admin dashboard. Below is the list of users:</p>
        {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
    </div>
{% endblock %}
