{% extends 'base.html.twig' %}

{% block title %}SuperAdmin Dashboard{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">SuperAdmin Dashboard</h1>
        <p class="text-center mb-4">Welcome to the SuperAdmin dashboard. Below is the list of users:</p>
        {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
        {% endfor %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-center">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Roles</th>
                        {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ADMIN') %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles | join(', ') }}</td>
                            <td>
                                {% if is_granted('ROLE_SUPERADMIN') %}
                                    <a href="{{ path('edit', {'id': user.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                                    <a href="{{ path('delete', {'id': user.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
                                {% elseif is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
        </div>
    </div>
{% endblock %}


