{# templates/dashboard/user.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}User Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">User Dashboard</h1>
        <p>Welcome to your dashboard. Below is the list of users:</p>
        {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles | join(', ') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
    </div>
{% endblock %}
